body {
    font-family: Arial, sans-serif;
    background-color: #ffc0cb; /* Fundo rosa */
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: #333; /* Cor padrão para o título */
}

.restaurant-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: flex; /* Exibir a lista horizontalmente */
    justify-content: space-around; /* Espaço uniforme entre os itens */
    flex-wrap: wrap; /* Quebrar para a próxima linha, se necessário */
}

.restaurant-list li {
    text-align: center;
    flex-basis: 30%; /* Largura máxima de cada item */
    margin: 10px; /* Espaçamento entre os itens */
}

.restaurant-list li img {
    max-width: 100px;
    margin-bottom: 10px;
    display: block; /* Para centralizar horizontalmente a imagem */
    margin: 0 auto; /* Centralizar horizontalmente */
}

.restaurant-list li a {
    text-decoration: none;
    color: #007bff; /* Cor azul para os links */
}

.restaurant-list li a:hover {
    color: #0056b3; /* Cor azul mais escura para hover */
}
